<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>995278891604-03k7lucg0vhb65d1qft2h0uhq9k23rck.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.995278891604-03k7lucg0vhb65d1qft2h0uhq9k23rck</string>
	<key>API_KEY</key>
	<string>AIzaSyCfY_w0-Q1OYIENZCAW_tc0l_fzDQeTuQw</string>
	<key>GCM_SENDER_ID</key>
	<string>995278891604</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.rmit.Yuta-Picker</string>
	<key>PROJECT_ID</key>
	<string>yuta-picker</string>
	<key>STORAGE_BUCKET</key>
	<string>yuta-picker.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:995278891604:ios:4edac9594442fe8a8c1bc1</string>
</dict>
</plist>